<!-- navigation -->
<div id="logo">
    <a href="/" title="Juraj Molnár">
        <figure>
            <img src="{{ url('theme://images/logo-dark.svg') }}" alt="Juraj Molnár">
        </figure>
    </a>
</div>
<div id="nav-icon">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="menu-trigger">
    <nav id="menu" class="cl-effect-3">
        <ul class="menu">
            <li class="m-1"><a href="/" data-type="page-transition">home</a></li>
            <li class="m-2"><a href="/team" data-type="page-transition">the team</a></li>
            <li class="m-3"><a href="/portfolio" data-type="page-transition">portfolio</a></li>
            <li class="m-4"><a href="/apply" data-type="page-transition">apply</a></li>
            <li class="m-5"><a href="/how-we-work" data-type="page-transition">how we work</a></li>
            <li class="m-6"><a href="/work-with-us" data-type="page-transition">work with us</a></li>
            <li class="menu-social">Connect with me
                <ul>
                    <li class="s-1"><a href="https://www.facebook.com/idwebsk" target="_blank" title="Facebook"><span class="icon-facebook"></span></a></li>
                    <li class="s-2"><a href="https://twitter.com/jm_uxdesign" target="_blank" title="Twitter"><span class="icon-twitter"></span></a></li>
                    <li class="s-4"><a href="http://jurajmolnar.deviantart.com/" target="_blank" title="Deviantart"><span class="icon-deviantart"></span></a></li>
                    <li class="s-5"><a href="https://dribbble.com/jurajmolnar" target="_blank" title="Dribbble"><span class="icon-dribbble"></span></a></li>
                    <li class="s-6"><a href="https://www.behance.net/jurajmolnar" target="_blank" title="Behance"><span>Be</span></a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>