{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		<main class="wrapper page-title">

			{% include 'partials/navigation.html.twig' %}

			<!-- content -->
			<div class="m-page scene_element scene_element--fadeinup">
				<div>
					<!-- about -->
					<section class="content-med tb-offset" id="page-1" data-et-id="1">
						<div class="left w25 wow fadeInLeft" data-wow-delay="0.35s">
							<div class="services green">
								<h3>Apply:</h3>
								<br class="clear" />
							</div>
						</div>
						<div class="right w60 wow fadeInRight" data-wow-delay="0.35s">
							<h4>What we look for:</h4>
							<p class="big">We look at companies that are at the napkin doodle, concept, super seed, and seed stage. Not every company has to be a 100M company to be great, it just has to be profitable. Whatever your proposition is, it must be simple, clear and easy to grasp.</p>
							<p>“Unfortunately, the more complex the system, the greater the room for error." - <span class="blue">George Soros</span></p>
						</div>

						<div class="right w60 wow fadeInUp" data-wow-delay="0.35s">
							<h4>What we need:</h4>
							<p class="big">We need founders that are passionate about their companies, fanatical about their products, and who love their work. They must realise that starting your own business is extremely hard. There are no shortcuts, and they must be prepared for the extreme highs and lows that can accrue daily, and have the tenacity to NEVER GIVE UP.</p>
							<p>“Sometimes life is going to hit you in the head with a brick. Don't lose faith.” - <span class="blue">Steve Jobs</span></p>
						</div>

						<div class="right w60 wow fadeInUp" data-wow-delay="0.35s">
							<h4>What we expect:</h4>
							<p class="big">We expect you to know more about your industry than we do. You’ll have researched the market and know its size. You will have experience in your sector. You will know what you want to achieve. You will know what your customers really want. You should understand what the problem is you are trying to solve. This is a business for us and it should be for you also.</p>
							<p>“The first principle is that you must not fool yourself as you are the easiest person to fool.” - <span class="blue">Richard Feynman</span></p>
						</div>

						<div class="right w60 wow fadeInUp" data-wow-delay="0.45s">
							<h4>What we love:</h4>
							<p class="big">We love companies and founders that want to empower and enable others to make change in their lives with the products they create, that love to work collaboratively and spread the love. You need far more knowledge than one person can have to make it in business.</p>
							<p>“Being the richest man in the cemetery doesn't matter to me. Going to bed at night saying we've done something wonderful, that's what matters to me.” -  <span class="blue">Steve Jobs</span></p>
							<p class="big">Due to the focus we give to each opportunity, we have limited time resources so we have to be very selective about the companies and ideas we work with. Please fill in the form below and include a brief video and deck and we will review every pitch that comes through and get back to you within 14 days.</p>
							<p>“The difference between successful people and really successful people is that really successful people say NO to almost everything." - <span class="blue">Warren Buffett</span></p>
						</div>


						<br class="clear" />
						<div class="right w60 title-subhead wow fadeInUp animated" data-wow-delay="0.55s">
							<p class="center">
								<a target="_blank" href="https://collab-ventures.typeform.com/to/tJ8lWe" class="w460 button h-button">apply<span></span></a>
							</p>
						</div>
					</section>
				</div>
			</div>
		</main>
	{% endblock %}

{% endembed %}
