{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		<div id="loader">
			<figure>
				<img src="{{ url('theme://images/logo-white.svg')}}" alt="Collab Ventures">
			</figure>
		</div>
		<div id="cssda" class="award-badge">
			<a href="http://www.cssdesignawards.com/sites/web-ux-designer-juraj-molnar/26713/" target="_blank">Site of the day</a>
		</div>
		<main class="wrapper">
			<!-- navigation -->
			<div id="logo">
				<a href="index.html" title="Collab Ventures">
					<figure>
						<img src="{{ url('theme://images/logo-dark.svg')}}" alt="Collab Ventures">
					</figure>
				</a>
			</div>
			<div id="nav-icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<!-- navigation -->
			<div class="menu-trigger">
				<nav id="menu" class="cl-effect-3">
					<ul class="menu">
						<li class="m-1"><a href="index.html" data-type="page-transition">home</a></li>
						<li class="m-2"><a href="index.html" data-type="page-transition">the team</a></li>
						<li class="m-3"><a href="index.html" data-type="page-transition">portfolio</a></li>
						<li class="m-4"><a href="index.html" data-type="page-transition">apply</a></li>
						<li class="m-5"><a href="index.html" data-type="page-transition">how we work</a></li>
						<li class="m-6"><a href="index.html" data-type="page-transition">work with us</a></li>
						<li class="menu-social">Connect with me
							<ul>
								<li class="s-1"><a href="https://www.facebook.com/idwebsk" target="_blank" title="Facebook"><span class="icon-facebook"></span></a></li>
								<li class="s-2"><a href="https://twitter.com/jm_uxdesign" target="_blank" title="Twitter"><span class="icon-twitter"></span></a></li>
								<li class="s-4"><a href="http://jurajmolnar.deviantart.com/" target="_blank" title="Deviantart"><span class="icon-deviantart"></span></a></li>
								<li class="s-5"><a href="https://dribbble.com/jurajmolnar" target="_blank" title="Dribbble"><span class="icon-dribbble"></span></a></li>
								<li class="s-6"><a href="https://www.behance.net/jurajmolnar" target="_blank" title="Behance"><span>Be</span></a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<div class="m-right-panel m-page scene_element scene_element--fadeinup">
				<!-- top -->
				<header class="green-bg color-wrap wow fadeInUp">
					<figure class="bg">
						<img src="{{ url('theme://images/about/color-bg.jpg')}}" alt="bg">
					</figure>
					<div class="content-med center tb-offset">
						<h1>We are <br />Collab Ventures<span></h1>
					</div>
				</header>
				<!-- about -->
				<section class="content-med tb-offset">
					<div class="left w25 wow fadeInLeft" data-wow-delay="0.35s">
						<div class="services green">
							<h3>Who we are</h3>
							<br class="clear" />
						</div>
					</div>
					<div class="right w60 wow fadeInRight" data-wow-delay="0.35s">
						<p class="big">We are an amalgamation of a angel/incubator/venture company.</p>
						<p class="big">We look at early and very early stage companies where the concept is simple as this where we can create the most value.</p>
						<p class="big">We do not like overbearing business analogies, accurnimes or management directives. We like to look at the core of the business idea, and if we believe in it, and more importantly believe in the people, we will get involved.</p>
					</div>
					<br class="clear" />
				</section>
				<!-- content -->
				<div class="service-wrap wow lightest-grey-bg fadeIn tb-offset-sm">
					<div class="content-med">
						<h3 class="centered wow fadeInUp" data-wow-delay="0.25s">What we can<br /> do for you</h3>

						<p class="centered wow fadeInUp" data-wow-delay="0.25s">We can invest in 2 ways...</p>

						<div class="w50 left centered wow fadeInUp" data-wow-delay="0.25s">
							<div class="service-item tb-offset-sm">
								<div class="circle-icon">
									<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
										<style type="text/css" >
											<![CDATA[
                                        circle {
												stroke: #80c918;
												fill: transparent;
											}
											circle.c1 {
												stroke-dasharray: 5, 4.5;
												stroke-width: 0.25;
											}
											circle.c2 {
												stroke-dasharray: 0.15, 0.53;
												stroke-width: 1;
											}
											circle.c3 {
												stroke-dasharray: 10, 20;
												stroke-width: 0.25;
											}
											circle.c4 {
												stroke-dasharray: 0.2, 0.2;
												stroke-width: 0.2;
											}
											]]>
										</style>
										<circle class="c1" cx="8" cy="8" r="6.215">
											<animateTransform attributeName="transform"
															  attributeType="XML"
															  type="rotate"
															  from="0 8 8 "
															  to="360 8 8"
															  dur="20s"
															  repeatCount="indefinite"/>

										</circle>
									</svg>
									<span class="icon-lamp4"></span>
								</div>
								<h4>Cash</h4>
								<div class="service-detail">
									<ul>
										<li>Between 5-150K GBP</li>
										<li>of our own money</li>
										<li>ideally in SEIS and EIS</li>
										<li>compliant companies.</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="w50 left centered wow fadeInUp" data-wow-delay="0.25s">
							<div class="service-item tb-offset-sm">
								<div class="circle-icon">
									<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
										<circle class="c2" cx="8" cy="8" r="6.215">
											<animateTransform attributeName="transform"
															  attributeType="XML"
															  type="rotate"
															  from="0 8 8 "
															  to="-360 8 8"
															  dur="20s"
															  repeatCount="indefinite"/>

										</circle>
									</svg>
									<span class="icon-screen"></span>
								</div>
								<h4>Skills</h4>
								<div class="service-detail">
									<ul>
										<li>We have a huge developer</li>
										<li> & business community, and through</li>
										<li>our portfolio platforms Equify & Mavyn</li>
										<li>we can bring in sweat equity for you.</li>
									</ul>
								</div>
							</div>
						</div>
						<br class="clear" />
					</div>
				</div>
			</div>
			<div id="back-top">
				<a href="#top"><span class="icon icon-arrow-up4"></span><span class="fade">TOP</span></a>
			</div>
		</main>
	{% endblock %}

{% endembed %}


