{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		<main class="wrapper page-title">

			{% include 'partials/navigation.html.twig' %}

			<!-- content -->
			<div class="m-page scene_element scene_element--fadeinup">
				<div class="et-wrapper">
					<section class="et-page" id="page-1" data-et-id="1">
						<div class="page-wrap">
							<h1 class="wow fadeInUp">Hi, We are <span class="cyan">Collab</span>Ventures</h1>
							<div class="title-subhead wow fadeInUp">
								<p>
									We are an amalgamation of a angel/incubator/venture company.
									We look at early and very early stage companies where the concept is simple as this where we can create the most value.
									We do not like overbearing business analogies, accurnimes or management directives. We like to look at the core of the business idea, and if we believe in it, and more importantly believe in the people, we will get involved.
									We invest in what we love, we are not restricted by any industry or concept.
								</p>
								<div class="h-wrap">
									<a href="/apply" class="button h-button">Apply now<span></span></a>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</main>
	{% endblock %}

{% endembed %}


