{% embed 'partials/base.html.twig' %}

    {% set collection = page.collection() %}

    {% block content %}
        <main class="wrapper page-title">

            {% include 'partials/navigation.html.twig' %}

            <!-- content -->
            <div class="m-page scene_element scene_element--fadeinup">
                <div>
                    <!-- about -->
                    <section class="content-med tb-offset" id="page-1" data-et-id="1">
                        <div class="left w25 wow fadeInLeft" data-wow-delay="0.35s">
                            <div class="services green">
                                <h3>Who we are</h3>
                                <br class="clear"/>
                            </div>
                        </div>
                        <div class="right w60 wow fadeInRight" data-wow-delay="0.35s">
                            {#<h4>What we look for</h4>#}
                            <p class="big">
                                Co-lab ventures is an amalgamation of an angel, mentoring and seed investment company. We launch platforms and look to invest in early and very early stage companies where the concept is simple as this is where we can create the most value.
                            </p>
                            <p class="big">
                                We invest in what we love, and are not restricted by any industry or concept.
                            </p>
                            <br />
                        </div>

                        <div class="right w60 title-subhead wow fadeInUp animated" data-wow-delay="0.35s">
                            <p class="center">
                                <a href="/what-we-do" class="w460 button h-button">what we do<span></span></a>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    {% endblock %}

{% endembed %}
