{% embed 'partials/base.html.twig' %}

    {% set collection = page.collection() %}

    {% block content %}
        <main class="wrapper page-title">

            {% include 'partials/navigation.html.twig' %}

            <!-- content -->
            <div class="m-page scene_element scene_element--fadeinup">
                <div>
                    <!-- about -->
                    <section class="content-med tb-offset et-page" id="page-1" data-et-id="1">
                        <div class="left w25 wow fadeInLeft" data-wow-delay="0.35s">
                            <div class="services green">
                                <h3>Who we are</h3>
                                <br class="clear"/>
                            </div>
                        </div>
                        <div class="right w60 wow fadeInRight" data-wow-delay="0.35s">
                            {#<h4>What we look for</h4>#}
                            <p class="big">
                                We are an amalgamation of a angel/incubator/venture company. <br/><br/>

                                We look at early and very <span class="blue">early stage</span> companies where the
                                concept is simple as this where we can create the most value.<br/><br/>

                                We do not like overbearing business analogies, accurnimes or management directives. We
                                like to look at the core of the business idea, and if we believe in it, and more
                                importantly believe in the people, we will <span
                                        class="blue">get involved.</span><br/><br/>

                                We invest in what we love, we are not restricted by any industry or concept.
                            </p>
                        </div>
                        <br class="clear"/>
                        <div class="left w25 wow fadeInLeft" data-wow-delay="0.35s">
                            <div class="services green">
                                <h3>What we can do for you</h3>
                                <br class="clear"/>
                            </div>
                        </div>
                        <div class="right w60 wow fadeInRight" data-wow-delay="0.35s">
                            {#<h4>What we look for</h4>#}
                            <p class="big">
                                We can invest in 2 ways...<br/><br/>

                                <span class="blue">Cash</span> - Between 5-150K GBP of our own money ideally in SEIS and
                                EIS compliant companies.<br/><br/>

                                <span class="blue">Skills</span> - We have a huge developer & business community, and
                                through our portfolio platforms <span class="blue">Equify</span> & <span class="blue">Mavyn</span>
                                we can bring in sweat equity for you.
                            </p>
                        </div>

                        <div class="right b40 w60 title-subhead wow fadeInUp animated" data-wow-delay="0.35s">
                            <p class="center">
                                <a href="/how-we-work" class="w460 button h-button">How we work<span></span></a> <br /><br />
                                <a href="/apply" class="w460 button h-button">Apply for funding<span></span></a>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    {% endblock %}

{% endembed %}
