{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		<main class="wrapper page-title">

			{% include 'partials/navigation.html.twig' %}

			<!-- content -->
			<div class="m-page scene_element scene_element--fadeinup">
				<div>
					<!-- about -->
					<section class="content-med tb-offset">
						<div class="left w25 wow fadeInLeft" data-wow-delay="0.35s">
							<div class="services green">
								<h3>How we work</h3>
								<br class="clear" />
							</div>
						</div>
						<div class="right w60 wow fadeInRight" data-wow-delay="0.35s">
							<h4>Stage 1: The concept</h4>
							<p class="big">The enormous world of the very small.
								The idea - The doodle, The napkin, The fag packet.
								If you have an idea take this and research it, see if someone has something similar, check the market
								make a basic 1 page business plan and 60 second video

								Investment - 5k - Skills based - honing down the idea.
								scoping what a mvp could be and what could be developed in a 4 week iteration.
							</p>

							<h4>Stage 2: Super Seed </h4>
							<p class="big">If you have a MVP and now you need to get some small traction, and start to build fellow founding team, and prove the revenues, and cost of acquiring, still using the basic MVP

								Investment: 5- 50k  and skill based.
								We would bring this to our wide network of partners: This may be suggestion to get on different accelerators, possible lead into crowdfunding.
							</p>

							<h4>Stage 3: Seed</h4>
							<p class="big">
								You have your MVP- you have proved your tractions, you know your cost of acquisition, you are ready to secure your management team, you have revenues, you just now need to grow

								Investment: 50-150k we will partner with others, we can act as lead investor.
							</p>

							<h4>Stage 4: Series A and onwards</h4>
							<p class="big">
								If you are ready for a series A, we would not be the right fit for you as we wouldn’t have the right level of business support or capital  that you’d need.

								We can assist our portfolio of companies when the time is right as we have connections with all the major VC firms.
							</p>
						</div>
						<br class="clear" />
					</section>

					<section class="content-med">
						<div class="left w25 wow fadeInLeft" data-wow-delay="0.35s">
							<div class="services green">
								<h3>The Process</h3>
								<br class="clear" />
							</div>
						</div>
						<div class="right w60 wow fadeInRight" data-wow-delay="0.35s">
							<img src="{{ url('theme://images/how-we-work.jpg') }}">
						</div>
					</section>
				</div>
			</div>
		</main>
	{% endblock %}

{% endembed %}
