{% embed 'partials/base.html.twig' %}

    {% set collection = page.collection() %}

    {% block content %}
        <main class="wrapper page-title">

            {% include 'partials/navigation.html.twig' %}

            <div class="m-right-panel m-page scene_element scene_element--fadeinup">
                <section class="content-med tb-offset et-page" id="page-1" data-et-id="1">
                    <!-- content -->
                    {#<header class="wow fadeInUp" data-wow-delay="0.25s">#}
                        {#<h1>Portfolio</h1>#}
                    {#</header>#}
                    <div class="box-grid">
                        <div class="box-grid__box box-grid__box--media wow fadeInDown" data-wow-delay="0.35s">
                            <a target="_blank" title="Click to visit Demobox website" href="http://demobox.co"><img src="{{ url('theme://images/portfolio-demobox.jpg') }}" alt="Demobox"/></a>
                        </div>
                        <div class="box-grid__box box-grid__box--text wow fadeInUp" data-wow-delay="0.35s">
                            <span>DemoBox is an AngularJS/PHP/Symfony powered enterprise music industry tool which connects unsigned musicians with music professionals, record labels, blogs and more for incredible opportunites.DemoBox also monitors the data of emerging artists and tracks over 20M data points to give deep insight on trending artists around the world.DemoBox is a PayPal Start Tank alumni, where we received support and mentoring from the PayPal team.</span>
                        </div>
                        <div class="box-grid__box box-grid__box--text wow fadeInLeft" data-wow-delay="0.45s">
                            <span>Mavyn is a micro-consulting market place for entrepreneurs and SME’s who can’t traditionally afford the high prices of the best business consultants. Clients can book bitesize consultations with the best in their fields for tailored, useable business advice of any type.Built on AngularJS/PHP/Symfony, it manages all aspects of the consultant search and bookings processes, whilst reporting back to consultants on earnings.</span>
                        </div>
                        <div class="box-grid__box box-grid__box--media wow fadeInRight" data-wow-delay="0.45s">
                            <img src="{{ url('theme://images/portfolio-mavyn.jpg') }}" alt="Mavyn"/>
                        </div>
                        <div class="box-grid__box box-grid__box--media wow fadeInUp" data-wow-delay="0.55s">
                            <img src="{{ url('theme://images/portfolio-equify.jpg') }}" alt="Equify"/>
                        </div>
                        <div class="box-grid__box box-grid__box--text wow fadeInUp" data-wow-delay="0.55s">
                            <span>Equify allows businesses to pay for skills and services in equity in their companies. It is the ideal solution for start ups to grow without large capital investment as our system makes it simple and fast to pay for services (or anything else!) using sweat for equity shares set aside for this purpose.Equify will be launching Q3 2016 with an impressive team and consutant database.</span>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    {% endblock %}

{% endembed %}
