{% embed 'partials/base.html.twig' %}

    {% set collection = page.collection() %}

    {% block content %}
        <main class="wrapper page-title">

            {% include 'partials/navigation.html.twig' %}

            <div class="m-right-panel m-page scene_element scene_element--fadeinup">
                <!-- content -->
                <header class="wow fadeInUp" data-wow-delay="0.25s">
                    <h1>Portfolio<span>Below are the companies we’ve worked with to build innovative digital businesses.</span></h1>
                </header>
                <div class="grid">
                    <div class="content-big centered wow fadeInUp" data-wow-delay="0.45s">
                        <a class="grid-item orange" href="#">
                            <div class="figcaption">
                                <h2>Demobox</h2>
                                <span>DemoBox is an emerging music analytics tool that tracks over 4M active musicians and alerts music professionals about breaking artists using intelligent growth & activity algorithms.</span>
                            </div>
                            <figure>
                                <img src="{{ url('theme://images/portfolio-demobox.jpg') }}" alt="Demobox"/>
                            </figure>
                        </a>
                    </div>
                    <div class="content-big centered wow fadeInUp" data-wow-delay="0.65s">
                        <a class="grid-item grid-item-right cyan" href="#">
                            <div class="figcaption">
                                <h2>Mavyn</h2>
                                <span>Mavyn is a micro-consulting platform that provides the best business consultants to startups, SME’s,  entrepreneurs.</span>
                            </div>
                            <figure class="right">
                                <img src="{{ url('theme://images/portfolio-mavyn.jpg') }}" alt="eFabrica"/>
                            </figure>
                        </a>
                    </div>
                    <div class="content-big centered wow fadeInUp" data-wow-delay="0.75s">
                        <a class="grid-item pink" href="#">
                            <div class="figcaption">
                                <h2>Equify</h2>
                                <span>Most of the time, a business needs skills not money to achieve it’s goals. With Equify, you can pay for expertise with equity in your company!</span>
                            </div>
                            <figure>
                                <img src="{{ url('theme://images/portfolio-equify.jpg') }}" alt="Equify"/>
                            </figure>
                        </a>
                    </div>
                    <br class="clear" />
                </div>
            </div>
        </main>
    {% endblock %}

{% endembed %}
