{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		<main class="wrapper page-title">

			{% include 'partials/navigation.html.twig' %}

			<!-- content -->
			<div class="m-page scene_element scene_element--fadeinup">
				<div>
					<!-- about -->
					<section class="content-med tb-offset" id="page-1" data-et-id="1">
						<div class="left w25 wow fadeInLeft" data-wow-delay="0.35s">
							<div class="services green">
								<h3>What we do</h3>
								<br class="clear" />
							</div>
						</div>
						<div class="right w60">
							<h4 class="wow fadeInRight" data-wow-delay="0.35s">We invest in 2 ways:</h4>
							<p class="big wow fadeInRight" data-wow-delay="0.35s">
								<b>Cash</b>: 5-150K GBP of our own money ideally in SEIS and EIS compliant companies.<br /><br />

								<b>Skills</b>: We have a huge developer & business community through our portfolio platforms that can participate at board and executive level.
							</p>

							<h4 class="wow fadeInUp" data-wow-delay="0.35s">Stage 1: The concept</h4>
							<p class="big wow fadeInUp" data-wow-delay="0.35s">
								The enormous world of the very small.<br />
								The idea - the doodle on the napkin or the fag packet.<br />
								If you have an idea, research it to see if someone has done something similar.
							</p>
							<p class="big wow fadeInUp" data-wow-delay="0.35s">
								<b>Investment</b>: >5K <br>
								<b>Skills</b>: Scoping what an MVP could be and developing a product within a 4 week iteration.
							</p>

							<h4 class="wow fadeInUp" data-wow-delay="0.35s">Stage 2: Super Seed</h4>
							<p class="big wow fadeInUp" data-wow-delay="0.35s">
								If you have an MVP and now need to get some traction, start to build a founding team and prove revenues.
							</p>
							<p class="big wow fadeInUp" data-wow-delay="0.35s">
								<b>Investment</b>: 5 > 50K<br>
								<b>Skills</b>: We would bring your business to our wider network of partners. This may be introductions to different accelerators, or a lead investor on crowdfunding.
							</p>

							<h4 class="wow fadeInUp" data-wow-delay="0.35s">Stage 3: Seed</h4>
							<p class="big wow fadeInUp" data-wow-delay="0.35s">
								You have your MVP - you have proved your traction, you know your cost of acquisition and are ready to secure your management team. You have revenues, you just need to grow. <br /><br />
								<b>Investment:</b> 50 > 150K we will partner with others, and can act as lead investor.
							</p>

							<h4 class="wow fadeInUp" data-wow-delay="0.35s">Stage 4: Series A onwards</h4>
							<p class="big wow fadeInUp" data-wow-delay="0.35s">
								If you are ready for a Series A, we would not be the right fit for you. We can assist our portfolio of companies when the time is right as we have connections with all the major VC firms.
							</p>
						</div>

						<div class="right w60 title-subhead wow fadeInUp animated" data-wow-delay="0.35s">
							<p class="center">
								<a href="/apply" class="w460 button h-button">apply<span></span></a>
							</p>
						</div>
					</section>
				</div>
			</div>
		</main>
	{% endblock %}

{% endembed %}
