{% embed 'partials/base.html.twig' %}

    {% set collection = page.collection() %}

    {% block content %}
        <main class="wrapper page-title">

            {% include 'partials/navigation.html.twig' %}

            <!-- content -->
            <div class="m-page scene_element scene_element--fadeinup">
                <div>
                    <!-- about -->
                    <section class="content-med tb-offset" id="page-1" data-et-id="1">
                        <div class="left w25 wow fadeInLeft" data-wow-delay="0.35s">
                            <div class="services green">
                                <h3>Work with us</h3>
                                <br class="clear"/>
                            </div>
                        </div>
                        <div class="right w60 wow fadeInRight" data-wow-delay="0.35s">
                            {#<h4>What are we looking for?</h4>#}
                            <p class="big">
                                We are always looking for forward thinking creative people to join our team and to help
                                shape great companies. We believe in collaboration, remote working environments, and
                                that bringing the best minds together can help reshape the world. We believe that teams
                                work better with <span class="blue">vested interest</span> in what they create as a
                                collective.
                            </p>

                            <h4>Why do we need you?</h4>
                            <p class="big">
                                Our assessment board receives hundreds of applications for investment every month. We
                                apply a rigorous selection protocol and only select the applications which we believe
                                are most likely to benefit most from our approach.

                                <br />
                                <br />

                                While our investment may come in the form of a cash injection, we also invest in these
                                companies by providing an appropriate and integrated team of <span class="blue">specialists</span>.
                            </p>

                            <h4>How does it work?</h4>
                            <p class="big">
                                Once a company fits our investment criteria, we contact our approved specialists and
                                offer the relevant people the chance to join into the agile sprints. In some cases you
                                will be given the chance to defer payment and to become an <span class="blue">equity owner</span> in the projects
                                you work on.
                            </p>

                            <h4>Skillsets</h4>
                            <p class="big">
                                We are looking for collaborators who have the discipline to make a commitment to a
                                project and execute best in class work. If you believe you can make a commitment of
                                <span class="blue">20 hours per week</span> during the sprints, and you believe you are
                                a specialist in your field, then we definitely want to hear from you.
                            </p>
                        </div>

                        <div class="right w60 title-subhead wow fadeInUp animated" data-wow-delay="0.35s">
                            <p class="center">
                                {% include 'partials/apply-button.html.twig' %}
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    {% endblock %}

{% endembed %}
