{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		<main class="wrapper page-title">

			{% include 'partials/navigation.html.twig' %}

			<!-- content -->
			<div class="m-page scene_element scene_element--fadeinup">
				<div>
					<!-- about -->
					<section class="content-med tb-offset" id="page-1" data-et-id="1">
						<div class="left w25 wow fadeInLeft" data-wow-delay="0.35s">
							<div class="services green">
								<h3>Work with us</h3>
								<br class="clear" />
							</div>
						</div>
						<div class="right w60 wow fadeInRight" data-wow-delay="0.35s">
							{#<h4></h4>#}
							<p class="big">
								We are always looking for forward thinking creative people to join our team and to help shape great companies, We believe in collaboration, remote working environments, and that bringing the best minds together can help reshape the world. Well, we did build build Mayvn, and we believe that teams work better with vested interest in what they create as a collective (we did build Equify). <br /><br />

								You must have a minimum of <span class="blue">20 hours</span> per week and used to working in a <span class="blue">Agile</span> way with remote teams.<br /><br />


								If this sounds right up your street, contact us below!
							</p>
						</div>

						<div class="right w60 title-subhead wow fadeInUp animated" data-wow-delay="0.35s">
							<p class="center">
								{% include 'partials/apply-button.html.twig' %}
							</p>
						</div>
					</section>
				</div>
			</div>
		</main>
	{% endblock %}

{% endembed %}
