{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		<main class="wrapper page-title">

			{% include 'partials/navigation.html.twig' %}

			<!-- content -->
			<div class="m-page scene_element scene_element--fadeinup">
				<div>
					<!-- about -->
					<section class="content-med tb-offset" id="page-1" data-et-id="1">
						<div class="left w25 wow fadeInLeft" data-wow-delay="0.35s">
							<div class="services green">
								<h3>Come to work with us</h3>
								<br class="clear" />
							</div>
						</div>
						<div class="right w60 wow fadeInRight" data-wow-delay="0.35s">
							<p class="big">
								We are always looking for forward thinking creative people to join our team and to help shape great new companies. We believe in collaboration, remote working, and that bringing the best minds together can help reshape world. We believe that teams work better with vested interest in what they create as a collective. All works are equity based.<br /><br />
								You must have a minimum of 20 hours per week and be used to working in an agile way with remote teams.
							</p>
						</div>

						<div class="right w60 wow fadeInRight" data-wow-delay="0.35s">
							<p class="big">
								Firstly we are a team, we all play a part in choosing the companies we work with as ultimately at some stage we all will.
							</p>
							<p class="big" style="margin-bottom: 0px; padding-bottom: 0px;">
								We listen intensly, we speak frankly, but more importantly directly and honestly
							</p>
							<span class="blue">Honesty is an expensive gift, don’t expect it from cheap people . W Buffett</span>
							<p class="big">
								Hadleigh Bolt J.P  - LI, email- <br />
								Peter Culak _ LI, GH, email<br />
								Francis Gane- LI, email<br />
								Ciaran Kelly GH LI, email
							</p>
						</div>

						<div class="right w60 title-subhead wow fadeInUp animated" data-wow-delay="0.35s">
							<p class="center">
								{% include 'partials/apply-button.html.twig' %}
							</p>
						</div>
					</section>
				</div>
			</div>
		</main>
	{% endblock %}

{% endembed %}
